#root {
  all: initial;
  font-family: fantasy;
  font-size: 18px;
  color: gray;
}

/*NAVBAR STYLE*/
.navbar {
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.navbar-brand {
  position: absolute;
  text-decoration: none;
  color: gray;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: 1.5rem;
}

.navbar-brand:hover {
  cursor: grab;
  color: blue;
}

.navbar-item {
  margin-right: 1.5rem;
  display: inline-flex;
}

.navbar-item a {
  text-decoration: none;
}

.navbar-item a:hover {
  color: gray;
}

.button-toggle {
  position: absolute;
  z-index: 100;
  color: #fff;
}

/* .button-toggle:hover {
  transform: rotate(90deg);
  background-color: rgba(255, 253, 255, 0.1);
} */

/*END NAVBAR STYLE*/

/*ANIMATION*/
@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating-inverse {
  from {
    -webkit-transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
  }
}

@-webkit-keyframes rotating-anormal {
  from {
    -webkit-transform: rotate(180deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.rotating-normal {
  -webkit-animation: rotating 2s linear infinite;
}

.rotating-anormal {
  -webkit-animation: rotating-anormal 2s linear infinite;
}

.rotating-inverse {
  -webkit-animation: rotating-inverse 2s linear infinite;
}

/*END ANIMATION*/

/*BASED*/
@media (min-width: 0px) {
  .container {
    margin-top: 1.5rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  /*FONT*/
  .font-size-1 {
    font-size: 1rem;
  }
  .font-size-2 {
    font-size: 2rem;
  }
  .font-size-3 {
    font-size: 4rem;
  }
  .font-size-4 {
    font-size: 6rem;
  }
  .font-size-5 {
    font-size: 8rem;
  }
  .font-size-xxl {
    font-size: xx-large;
  }
  /*END FONT*/

  /*TEXT*/
  .text-center {
    text-align: center;
  }
  .text-shadow-1 {
    text-shadow: 1px 1px black;
  }
  .text-shadow-2 {
    text-shadow: 2px 2px black;
  }
  /*END TEXT*/

  /*DISPLAY*/
  .d-none {
    display: none;
  }
  .d-inline {
    display: inline;
  }
  .d-flex {
    display: flex;
  }
  .d-inline-flex {
    display: inline-flex;
  }
  .d-block {
    display: block;
  }
  .d-inline-block {
    display: inline-block;
  }
  /*END DISPLAY*/

  /*END NAVBAR STYLE*/

  /*BRACKGROUND COLOR*/
  .bgc-primary {
    background-color: yellow;
  }
  .bgc-secondary {
    background-color: gray;
  }
  .bgc-red {
    background-color: red;
  }
  .bgc-white {
    background-color: white;
  }

  .bgc-black {
    background-color: black;
  }

  .bgc-red {
    background-color: red;
  }

  .bgc-blue {
    background-color: blue;
  }

  /*END BACKGROUND COLOR*/

  /*COLOR*/
  .color-primary {
    color: skyblue;
  }
  .color-secondary {
    color: rgba(0, 0, 255, 0.5);
  }
  .color-orange {
    color: orange;
  }
  .color-support {
    color: orangered;
  }

  .color-white {
    color: white;
  }
  /*END COLOR*/

  /*OPACITY*/
  .opacity-1 {
    opacity: 0.1;
  }
  .opacity-2 {
    opacity: 0.2;
  }
  .opacity-3 {
    opacity: 0.3;
  }
  .opacity-4 {
    opacity: 0.4;
  }
  .opacity-5 {
    opacity: 0.5;
  }
  .opacity-6 {
    opacity: 0.6;
  }
  .opacity-7 {
    opacity: 0.7;
  }
  .opacity-8 {
    opacity: 0.8;
  }
  .opacity-9 {
    opacity: 0.9;
  }
  .opacity-10 {
    opacity: 1;
  }
  /*END OPACITY*/

  /*TRANSFORM*/

  .translate-50-50 {
    transform: translateX(-50%) translateY(-50%);
  }
  .rotate-2 {
    transform: rotate(0.2turn);
  }
  .rotate-3 {
    transform: rotate(0.3turn);
  }
  .rotate-4 {
    transform: rotate(0.4turn);
  }
  .rotate-5 {
    transform: rotate(0.5turn);
  }
  .rotate-6 {
    transform: rotate(0.6turn);
  }
  .rotate-8 {
    transform: rotate(0.8turn);
  }
  /*END TRANSFORM*/

  /*CURSOR*/
  .cursor-pointer {
    cursor: pointer;
  }
  /*END CURSOR*/
  /*WIDTH*/
  .w-25 {
    width: 25%;
  }
  .w-50 {
    width: 50%;
  }
  .w-75 {
    width: 75%;
  }
  .w-100 {
    width: 100%;
  }
  /*END WIDTH*/

  /*HEIGHT*/
  .h-25 {
    height: 25%;
  }
  .h-50 {
    height: 50%;
  }
  .h-75 {
    height: 75%;
  }
  .h-100 {
    height: 100%;
  }
  /*END HEIGHT*/

  /*TOP*/
  .top-0 {
    top: 0%;
  }
  .top-25 {
    top: 25%;
  }
  .top-50 {
    top: 50%;
  }
  /*END TOP*/

  /*BOTTOM*/
  .bottom-0 {
    bottom: 0%;
  }
  .bottom-50 {
    bottom: 50%;
  }
  .bottom-100 {
    bottom: 100%;
  }
  /*END BOTTOM*/

  /*MARGIN*/
  /*--> M-DEFAULT*/
  .m-0 {
    margin: 0 !important;
  }
  .m-1 {
    margin: 0.5rem !important;
  }
  .m-2 {
    margin: 1rem !important;
  }
  .m-3 {
    margin: 1.5rem !important;
  }
  .m-4 {
    margin: 2rem !important;
  }
  /*--> MT*/
  .mt-0 {
    margin-top: 0 !important;
  }
  .mt-1 {
    margin-top: 0.5rem !important;
  }
  .mt-2 {
    margin-top: 1rem !important;
  }
  .mt-3 {
    margin-top: 1.5rem !important;
  }
  .mt-4 {
    margin-top: 2rem !important;
  }
  /*--> MB*/
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mb-1 {
    margin-bottom: 0.5rem !important;
  }
  .mb-2 {
    margin-bottom: 1rem !important;
  }
  .mb-3 {
    margin-bottom: 1.5rem !important;
  }
  .mb-4 {
    margin-bottom: 2rem !important;
  }
  .mb-5 {
    margin-bottom: 2.5rem !important;
  }
  .mb-6 {
    margin-bottom: 3rem !important;
  }
  .mb-7 {
    margin-bottom: 3.5rem !important;
  }
  .mb-8 {
    margin-bottom: 4rem !important;
  }
  .mb-9 {
    margin-bottom: 4.5rem !important;
  }
  .mb-10 {
    margin-bottom: 5rem !important;
  }
  /*--> ME*/
  .me-0 {
    margin-right: 0 !important;
  }
  .me-1 {
    margin-right: 0.5rem !important;
  }
  .me-2 {
    margin-right: 1rem !important;
  }
  .me-3 {
    margin-right: 1.5rem !important;
  }
  .me-4 {
    margin-right: 2rem !important;
  }
  /*--> MS*/
  .ms-0 {
    margin-left: 0 !important;
  }
  .ms-1 {
    margin-left: 0.5rem !important;
  }
  .ms-2 {
    margin-left: 1rem !important;
  }
  .ms-3 {
    margin-left: 1.5rem !important;
  }
  .ms-4 {
    margin-left: 2rem !important;
  }
  .ms-5 {
    margin-left: 2.5rem !important;
  }
  .ms-6 {
    margin-left: 3rem !important;
  }
  .ms-32 {
    margin-left: 16rem !important;
  }
  /*--> MX*/
  .mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mx-1 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .mx-2 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .mx-3 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  .mx-4 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  .mx-5 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
  }
  .mx-6 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  /*--> MX*/
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .my-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .my-3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .my-4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .my-5 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  .my-6 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  /*END MARGIN*/

  /*PADDING*/
  /*--> P-DEFAULT*/
  .p-0 {
    padding: 0 !important;
  }
  .p-1 {
    padding: 0.5rem !important;
  }
  .p-2 {
    padding: 1rem !important;
  }
  .p-3 {
    padding: 1.5rem !important;
  }
  .p-4 {
    padding: 2rem !important;
  }

  /*--> ME*/
  .pe-0 {
    padding-right: 0 !important;
  }
  .pe-1 {
    padding-right: 0.5rem !important;
  }
  .pe-2 {
    padding-right: 1rem !important;
  }
  .pe-3 {
    padding-right: 1.5rem !important;
  }
  .pe-4 {
    padding-right: 2rem !important;
  }

  /*--> PS*/
  .ps-0 {
    padding-left: 0 !important;
  }
  .ps-1 {
    padding-left: 0.5rem !important;
  }
  .ps-2 {
    padding-left: 1rem !important;
  }
  .ps-3 {
    padding-left: 1.5rem !important;
  }
  .ps-4 {
    padding-left: 2rem !important;
  }
  /*--> PX*/
  .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .px-1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .px-2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .px-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  /*--> PY*/
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .py-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .py-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  /*END PAGGING*/

  /*FLEX*/
  .flex-column {
    flex-direction: column;
  }
  .flex-row {
    flex-direction: row;
  }

  /*END FLEX*/

  /*JUSTIFY*/
  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-around {
    justify-content: space-around;
  }

  .justify-content-evenly {
    justify-content: space-evenly;
  }
  .justify-content-center {
    justify-content: center;
  }
  .justify-content-end {
    justify-content: end;
  }
  /*END JUSTIFY*/

  /*ALIGN*/
  .align-items-center {
    align-items: center;
  }
  /*END ALIGN*/

  /*POSITION*/
  .position-absolute {
    position: absolute;
  }
  .position-relative {
    position: relative;
  }
  .position-fixed {
    position: fixed;
  }
  /*END POSITION*/

  /*VIEWPORT HEIGHT*/
  .vh-limited {
    height: 97vh;
  }
  .vh-50 {
    height: 50vh;
  }
  .vh-75 {
    height: 75vh;
  }
  .vh-100 {
    height: 100vh;
  }
  /*END VIEWPORT HEIGHT*/

  /*VIEWPORT WIDTH*/
  .vw-50 {
    width: 50vw;
  }
  .vw-75 {
    width: 75vw;
  }
  .vw-100 {
    width: 100vw;
  }
  /*END VIEWPORT WIDTH*/

  /*BOX*/

  .shadow-1 {
    box-shadow: 2px 2px;
  }
  .shadow-2 {
    box-shadow: 4px 4px;
  }
  .shadow-3 {
    box-shadow: 6px 6px;
  }
  .shadow-4 {
    box-shadow: 8px 8px;
  }
  .shadow-5 {
    box-shadow: 10px 10px;
  }

  .effect-shadow-1:hover {
    box-shadow: 2px 2px;
  }
  .effect-shadow-2:hover {
    box-shadow: 4px 4px;
  }
  /*END BOX*/

  /*TRANSITION*/
  .transition-shadow-1 {
    transition: box-shadow 1s;
  }
  .transition-shadow-2 {
    transition: box-shadow 2s;
  }

  .transition-color-1 {
    transition: color 1s;
  }
  /*END TRANSITION*/

  /*BORDER*/
  .rounded-circle {
    border-radius: 50%;
  }

  .rounded-1 {
    border-radius: 1px;
  }
  .rounded-2 {
    border-radius: 2px;
  }
  .rounded-3 {
    border-radius: 3px;
  }
  .rounded-4 {
    border-radius: 4px;
  }
  .rounded-5 {
    border-radius: 5px;
  }
  .rounded-6 {
    border-radius: 6px;
  }
  .rounded-7 {
    border-radius: 7px;
  }
  .rounded-8 {
    border-radius: 8px;
  }
  .rounded-9 {
    border-radius: 9px;
  }
  .rounded-10 {
    border-radius: 10px;
  }

  .rounded-top-right {
    border-top-right-radius: 5px;
  }

  .rounded-top-left {
    border-top-left-radius: 5px;
  }

  .rounded-bottom-right {
    border-bottom-right-radius: 5px;
  }

  .rounded-bottom-left {
    border-bottom-left-radius: 5px;
  }

  .border {
    border: 3px solid rgba(128, 128, 128, 0.5);
  }

  .line-buttom {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  .line-top {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  .line-start {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
  }

  .line-end {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
  }

  .border {
    border: 1px solid rgba(128, 128, 128, 0.5);
  }

  /*END BORDER*/

  /*START*/
  .start-0 {
    left: 0%;
  }
  .start-25 {
    left: 25%;
  }
  .start-50 {
    left: 50%;
  }
  /*END START*/

  /*Z-INDEX*/
  .z-1 {
    z-index: 1;
  }
  .z-100 {
    z-index: 100;
  }
  /*END Z-INDEX*/

  /*OVERFLOW*/
  .overflow-auto {
    overflow: auto;
  }
  /*END OVERFLOW*/

  /*GRID*/
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  /* Clases Col */
  .col-auto {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col-1 {
    flex: 0 0 auto;
    width: 8.33%;
  }
  .col-2 {
    flex: 0 0 auto;
    width: 16.66%;
  }
  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-4 {
    flex: 0 0 auto;
    width: 33.33%;
  }
  .col-5 {
    flex: 0 0 auto;
    width: 41.66%;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-7 {
    flex: 0 0 auto;
    width: 58.33%;
  }
  .col-8 {
    flex: 0 0 auto;
    width: 66.66%;
  }
  .col-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-10 {
    flex: 0 0 auto;
    width: 83.33%;
  }
  .col-11 {
    flex: 0 0 auto;
    width: 91.66%;
  }
  .col-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  /*END GRID*/
}

/*SMALL*/
@media (min-width: 576px) {
  .container-sm {
    display: block;
    margin-top: 1.5rem;
    margin-right: 3rem;
    margin-left: 3rem;
  }

  /*DISPLAY*/
  .d-sm-none {
    display: none;
  }
  .d-sm-inline {
    display: inline;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-inline-flex {
    display: inline-flex;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-inline-block {
    display: inline-block;
  }
  /*END DISPLAY*/

  /*MARGIN*/
  /*--> M-DEFAULT*/
  .m-sm-0 {
    margin: 0 !important;
  }
  .m-sm-1 {
    margin: 0.5rem !important;
  }
  .m-sm-2 {
    margin: 1rem !important;
  }
  .m-sm-3 {
    margin: 1.5rem !important;
  }
  .m-sm-4 {
    margin: 2rem !important;
  }
  /*--> MT*/
  .mt-sm-0 {
    margin-top: 0 !important;
  }
  .mt-sm-1 {
    margin-top: 0.5rem !important;
  }
  .mt-sm-2 {
    margin-top: 1rem !important;
  }
  .mt-sm-3 {
    margin-top: 1.5rem !important;
  }
  .mt-sm-4 {
    margin-top: 2rem !important;
  }
  /*--> MB*/
  .mb-sm-0 {
    margin-bottom: 0 !important;
  }
  .mb-sm-1 {
    margin-bottom: 0.5rem !important;
  }
  .mb-sm-2 {
    margin-bottom: 1rem !important;
  }
  .mb-sm-3 {
    margin-bottom: 1.5rem !important;
  }
  .mb-sm-4 {
    margin-bottom: 2rem !important;
  }
  .mb-sm-5 {
    margin-bottom: 2.5rem !important;
  }
  .mb-sm-6 {
    margin-bottom: 3rem !important;
  }
  .mb-sm-7 {
    margin-bottom: 3.5rem !important;
  }
  .mb-sm-8 {
    margin-bottom: 4rem !important;
  }
  .mb-sm-9 {
    margin-bottom: 4.5rem !important;
  }
  .mb-sm-10 {
    margin-bottom: 5rem !important;
  }
  /*--> ME*/
  .me-sm-0 {
    margin-right: 0 !important;
  }
  .me-sm-1 {
    margin-right: 0.5rem !important;
  }
  .me-sm-2 {
    margin-right: 1rem !important;
  }
  .me-sm-3 {
    margin-right: 1.5rem !important;
  }
  .me-sm-4 {
    margin-right: 2rem !important;
  }
  /*--> MS*/
  .ms-sm-0 {
    margin-left: 0 !important;
  }
  .ms-sm-1 {
    margin-left: 0.5rem !important;
  }
  .ms-sm-2 {
    margin-left: 1rem !important;
  }
  .ms-sm-3 {
    margin-left: 1.5rem !important;
  }
  .ms-sm-4 {
    margin-left: 2rem !important;
  }
  .ms-sm-5 {
    margin-left: 2.5rem !important;
  }
  .ms-sm-6 {
    margin-left: 3rem !important;
  }
  .ms-sm-32 {
    margin-left: 16rem !important;
  }
  /*--> MX*/
  .mx-sm-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mx-sm-1 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .mx-sm-2 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .mx-sm-3 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  .mx-sm-4 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  .mx-sm-5 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
  }
  .mx-sm-6 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  /*--> MX*/
  .my-sm-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-sm-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .my-sm-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .my-sm-3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .my-sm-4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .my-sm-5 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  .my-sm-6 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  /*END MARGIN*/

  /*PADDING*/
  /*--> P-DEFAULT*/
  .p-sm-0 {
    padding: 0 !important;
  }
  .p-sm-1 {
    padding: 0.5rem !important;
  }
  .p-sm-2 {
    padding: 1rem !important;
  }
  .p-sm-3 {
    padding: 1.5rem !important;
  }
  .p-sm-4 {
    padding: 2rem !important;
  }

  /*--> ME*/
  .pe-sm-0 {
    padding-right: 0 !important;
  }
  .pe-sm-1 {
    padding-right: 0.5rem !important;
  }
  .pe-sm-2 {
    padding-right: 1rem !important;
  }
  .pe-sm-3 {
    padding-right: 1.5rem !important;
  }
  .pe-sm-4 {
    padding-right: 2rem !important;
  }

  /*--> PS*/
  .ps-sm-0 {
    padding-left: 0 !important;
  }
  .ps-sm-1 {
    padding-left: 0.5rem !important;
  }
  .ps-sm-2 {
    padding-left: 1rem !important;
  }
  .ps-sm-3 {
    padding-left: 1.5rem !important;
  }
  .ps-sm-4 {
    padding-left: 2rem !important;
  }
  /*--> PX*/
  .px-sm-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .px-sm-1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .px-sm-2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-sm-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .px-sm-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  /*--> PY*/
  .py-sm-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .py-sm-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .py-sm-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .py-sm-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .py-sm-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  /*END PAGGING*/
}

/*MEDIUM*/
@media (min-width: 768px) {
  .container-md {
    display: block;
    margin-top: 1.5rem;
    margin-right: 6rem;
    margin-left: 6rem;
  }

  /*DISPLAY*/
  .d-md-none {
    display: none;
  }
  .d-md-inline {
    display: inline;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-inline-flex {
    display: inline-flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-inline-block {
    display: inline-block;
  }
  /*END DISPLAY*/

  /*JUSTIFY*/
  .justify-content-between {
    justify-content: space-between;
  }

  .justify-content-around {
    justify-content: space-around;
  }

  .justify-content-evenly {
    justify-content: space-evenly;
  }
  .justify-content-center {
    justify-content: center;
  }
  .justify-content-end {
    justify-content: end;
  }
  /*END JUSTIFY*/

  /*MARGIN*/
  /*--> M-DEFAULT*/
  .m-0 {
    margin: 0 !important;
  }
  .m-1 {
    margin: 0.5rem !important;
  }
  .m-2 {
    margin: 1rem !important;
  }
  .m-3 {
    margin: 1.5rem !important;
  }
  .m-4 {
    margin: 2rem !important;
  }
  /*--> MT*/
  .mt-0 {
    margin-top: 0 !important;
  }
  .mt-1 {
    margin-top: 0.5rem !important;
  }
  .mt-2 {
    margin-top: 1rem !important;
  }
  .mt-3 {
    margin-top: 1.5rem !important;
  }
  .mt-4 {
    margin-top: 2rem !important;
  }
  /*--> MB*/
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mb-1 {
    margin-bottom: 0.5rem !important;
  }
  .mb-2 {
    margin-bottom: 1rem !important;
  }
  .mb-3 {
    margin-bottom: 1.5rem !important;
  }
  .mb-4 {
    margin-bottom: 2rem !important;
  }
  .mb-5 {
    margin-bottom: 2.5rem !important;
  }
  .mb-6 {
    margin-bottom: 3rem !important;
  }
  .mb-7 {
    margin-bottom: 3.5rem !important;
  }
  .mb-8 {
    margin-bottom: 4rem !important;
  }
  .mb-9 {
    margin-bottom: 4.5rem !important;
  }
  .mb-10 {
    margin-bottom: 5rem !important;
  }
  /*--> ME*/
  .me-0 {
    margin-right: 0 !important;
  }
  .me-1 {
    margin-right: 0.5rem !important;
  }
  .me-2 {
    margin-right: 1rem !important;
  }
  .me-3 {
    margin-right: 1.5rem !important;
  }
  .me-4 {
    margin-right: 2rem !important;
  }
  /*--> MS*/
  .ms-0 {
    margin-left: 0 !important;
  }
  .ms-1 {
    margin-left: 0.5rem !important;
  }
  .ms-2 {
    margin-left: 1rem !important;
  }
  .ms-3 {
    margin-left: 1.5rem !important;
  }
  .ms-4 {
    margin-left: 2rem !important;
  }
  .ms-5 {
    margin-left: 2.5rem !important;
  }
  .ms-6 {
    margin-left: 3rem !important;
  }
  .ms-32 {
    margin-left: 16rem !important;
  }
  /*--> MX*/
  .mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mx-1 {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
  .mx-2 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
  .mx-3 {
    margin-left: 1.5rem !important;
    margin-right: 1.5rem !important;
  }
  .mx-4 {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
  }
  .mx-5 {
    margin-left: 2.5rem !important;
    margin-right: 2.5rem !important;
  }
  .mx-6 {
    margin-left: 3rem !important;
    margin-right: 3rem !important;
  }

  /*--> MX*/
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }
  .my-2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  }
  .my-3 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  .my-4 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .my-5 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
  }
  .my-6 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
  }
  /*END MARGIN*/

  /*PADDING*/
  /*--> P-DEFAULT*/
  .p-0 {
    padding: 0 !important;
  }
  .p-1 {
    padding: 0.5rem !important;
  }
  .p-2 {
    padding: 1rem !important;
  }
  .p-3 {
    padding: 1.5rem !important;
  }
  .p-4 {
    padding: 2rem !important;
  }

  /*--> ME*/
  .pe-0 {
    padding-right: 0 !important;
  }
  .pe-1 {
    padding-right: 0.5rem !important;
  }
  .pe-2 {
    padding-right: 1rem !important;
  }
  .pe-3 {
    padding-right: 1.5rem !important;
  }
  .pe-4 {
    padding-right: 2rem !important;
  }

  /*--> PS*/
  .ps-0 {
    padding-left: 0 !important;
  }
  .ps-1 {
    padding-left: 0.5rem !important;
  }
  .ps-2 {
    padding-left: 1rem !important;
  }
  .ps-3 {
    padding-left: 1.5rem !important;
  }
  .ps-4 {
    padding-left: 2rem !important;
  }
  /*--> PX*/
  .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .px-1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  .px-2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .px-3 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  .px-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  /*--> PY*/
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .py-1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  .py-2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  .py-3 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
  .py-4 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  /*END PAGGING*/
}

/*Long*/
@media (min-width: 992px) {
  .container-lg {
    display: block;
    margin-top: 1.5rem;
    margin-right: 12rem;
    margin-left: 12rem;
  }
  /*DISPLAY*/
  .d-lg-none {
    display: none;
  }
  .d-lg-inline {
    display: inline;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-inline-flex {
    display: inline-flex;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-inline-block {
    display: inline-block;
  }
  /*END DISPLAY*/
}

/*Extra Long*/
@media (min-width: 1200px) {
}
